@font-face {
    font-family: "Slime Drip";
    src: url("/assets/fonts/SlimeDrip.ttf") format("truetype");
}

:root {
    --color-primary: #10b51d;
    --color-secondary: #6b03da;
    --color-background: #1c1c1c;
    --font-family: 'Roboto', sans-serif;
    --font-title: "Slime Drip", cursive;
    --spacing-unit: 8px;
    --border-radius: 4px;
}
