.settingsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    border-radius: 12px;
    align-items: center;
}

.settingsContainer h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.settingSection {
    background-color: var(--color-background);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.04);
    transition: box-shadow 0.2s;
    width: 80%;
}

.settingHeader {
    justify-content: space-between;
    align-items: center;
}


.settingSection:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.settingSection h3 {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.settingSection p {
    margin: 0;
    color: #666;
    font-size: 1rem;
}